p {
    width: 197px;
    height: 54px;
    border: 11px solid #ffffff;
}

p.one {
    -moz-border-image: url("../img/dots.gif") 11 11 11 11 stretch;
    -webkit-border-image: url("../img/dots.gif") 11 11 11 11 stretch;
    border-image: url("../img/dots.gif") 11 11 11 11 stretch;
}

p.two {
    -moz-border-image: url("../img/dots.gif") 11 11 11 11 round;
    -webkit-border-image: url("../img/dots.gif") 11 11 11 11 round;
    border-image: url("../img/dots.gif") 11 11 11 11 round;
}