* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/graphy.png");
    background-repeat: repeat;
}

section {
    margin: 2.75%;
}

#calculadora {
    font-family: sans-serif;
    font-size: 1em;
    display: block;
    border-radius: 5px;
    background-color: rgba(76, 217, 194, 0.5);
    padding: 20px;
    width: 45%;
    height: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#calculadora h1 {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    color: #F18068;
}

#calculadora label {
    color: #40535D;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
}

#calculadora input[type=number],
select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#calculadora input[type=text],
select {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#calculadora input[type=button] {
    width: 35%;
    background-color: #F18068;
    color: #40535D;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#calculadora input[type=button]:hover {
    background-color: #F9B54C;
}

footer {
    width: 100%;
    background-color: #f9b54c;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
    color: #40535D;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}